---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/test?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - b294ad7682590540780d321f552c15df
      X-Slack-Backend:
      - r
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-8sau,haproxy-edge-pdx-8rbg
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"unknown_method","req_method":"test"}'
  recorded_at: Fri, 09 Oct 2020 22:33:38 GMT
- request:
    method: get
    uri: https://slack.com/api/conversations.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 6989fbf9246aa8f20ac6ed9ca4af8f9c
      X-Slack-Backend:
      - r
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-yo7l,haproxy-edge-pdx-1lmc
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"account_inactive"}'
  recorded_at: Fri, 09 Oct 2020 22:33:38 GMT
recorded_with: VCR 6.0.0
