---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/users.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 31d295865e6e86d73c420e5ac5704899
      X-Slack-Backend:
      - r
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-vjrk,haproxy-edge-pdx-9tv4
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"account_inactive"}'
  recorded_at: Fri, 09 Oct 2020 22:34:27 GMT
- request:
    method: get
    uri: https://slack.com/api/users?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 345d80273aaaf6797560c6754329d588
      X-Slack-Backend:
      - r
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-yl80,haproxy-edge-pdx-9hgy
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"unknown_method","req_method":"users"}'
  recorded_at: Fri, 09 Oct 2020 22:34:27 GMT
recorded_with: VCR 6.0.0
